Source: libpve-storage-backup-borg-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               lintian,
               perl,
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: libpve-storage-backup-borg-perl
Architecture: all
Depends: libpve-common-perl (>= 8~),
         libpve-storage-perl (>= 8.3.5),
         ${misc:Depends},
         ${perl:Depends},
Recommends: libnbd-bin,
Description: Example plugin for Borg backup integration as Proxmox VE storage
 This package contains a backup provider plugin example that can be used to
 access Borg installations as a backup target via the Proxmox VE storage
 management library.
