Source: libpve-storage-backup-directory-perl
Section: perl
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper-compat (= 13),
               lintian,
               perl,
Standards-Version: 4.6.2
Homepage: https://www.proxmox.com

Package: libpve-storage-backup-directory-perl
Architecture: all
Depends: libpve-storage-perl (>= 8.3.5),
         ${misc:Depends},
         ${perl:Depends},
Recommends: libnbd-bin,
Description: Example plugin for Borg backup integration as Proxmox VE storage
 This package contains an example of a backup provider plugin that can be used
 to access directory-based storage as a backup target via the storage
 management library used by Proxmox VE.
